body{
  background:#000;
  color:#00ff88;
  font-family:monospace;
}

input,textarea{
  width:100%;
  padding:8px;
  margin:5px 0;
  background:#111;
  color:#0f0;
}

button{
  width:100%;
  padding:8px;
  background:#003322;
  color:#0f0;
  border:none;
  cursor:pointer;
}

pre{
  white-space:pre-wrap;
}
